* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
}

#input {
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 285px;
    flex-shrink: 0;
    padding: 3rem;

}

#input h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 800;
}

#input input {
    background: none;
    border-radius: 5px;
    border: 2px solid #B295FF;
    width: 117px;
    height: 83px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 1.5rem;

}

#convert-btn {
    display: inline-flex;
    padding: 9px 27.5px;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.convert {
    background: #F4F4F4;
    width: 550px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

}

.amaro {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 108.573px;
    flex-shrink: 0;
    border-radius: 4.681px 0px 0px 0px;
    background: var(--white, #FFF);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    color: #5A537B;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    gap: 1rem;

}

.title {
    margin: 0;
}

.result {
    padding: 0;
    color: #353535;
    text-align: center;
    margin: 0;

    /* text-sm/leading-5/font-normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}